<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>OnlineShop</display-name>
  <welcome-file-list>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>AutoLoginFilter</filter-name>
    <filter-class>com.harson.web.filter.AutoLoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AutoLoginFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>NoNeedToLoginFilter</filter-name>
    <filter-class>com.harson.web.filter.NoNeedToLoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>NoNeedToLoginFilter</filter-name>
    <url-pattern>/login.jsp</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.harson.web.servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ActiveServlet</servlet-name>
    <servlet-class>com.harson.web.servlet.ActiveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ActiveServlet</servlet-name>
    <url-pattern>/active</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckUsernameServlet</display-name>
    <servlet-name>CheckUsernameServlet</servlet-name>
    <servlet-class>com.harson.web.servlet.CheckUsernameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckUsernameServlet</servlet-name>
    <url-pattern>/checkUsername</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.harson.web.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IndexServlet</display-name>
    <servlet-name>IndexServlet</servlet-name>
    <servlet-class>com.harson.web.servlet.IndexServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexServlet</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CategoryListServlet</display-name>
    <servlet-name>CategoryListServlet</servlet-name>
    <servlet-class>com.harson.web.servlet.CategoryListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategoryListServlet</servlet-name>
    <url-pattern>/categoryList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductListByCidServlet</display-name>
    <servlet-name>ProductListByCidServlet</servlet-name>
    <servlet-class>com.harson.web.servlet.ProductListByCidServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductListByCidServlet</servlet-name>
    <url-pattern>/productListByCid</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductInfoServlet</display-name>
    <servlet-name>ProductInfoServlet</servlet-name>
    <servlet-class>com.harson.web.servlet.ProductInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductInfoServlet</servlet-name>
    <url-pattern>/productInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddProductToCartServlet</display-name>
    <servlet-name>AddProductToCartServlet</servlet-name>
    <servlet-class>com.harson.web.servlet.AddProductToCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddProductToCartServlet</servlet-name>
    <url-pattern>/addProductToCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DelProFromCartServlet</display-name>
    <servlet-name>DelProFromCartServlet</servlet-name>
    <servlet-class>com.harson.web.servlet.DelProFromCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelProFromCartServlet</servlet-name>
    <url-pattern>/delProFromCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClearCartServlet</display-name>
    <servlet-name>ClearCartServlet</servlet-name>
    <servlet-class>com.harson.web.servlet.ClearCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClearCartServlet</servlet-name>
    <url-pattern>/clearCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SubmitOrderServlet</display-name>
    <servlet-name>SubmitOrderServlet</servlet-name>
    <servlet-class>com.harson.web.servlet.SubmitOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubmitOrderServlet</servlet-name>
    <url-pattern>/submitOrder</url-pattern>
  </servlet-mapping>
  
  <error-page>
    <error-code>233</error-code>
    <location>/errorPage/233.jsp</location>
</error-page>
  
</web-app>